Content/MS_MilitaryEquipment/3D_Assets/Military_Wooden_Crate_00/ud4nfhofa_8K_NormalLOD0.uasset filter=lfs diff=lfs merge=lfs -text
File filter=lfs diff=lfs merge=lfs -text
Content/MS_MilitaryEquipment/3D_Assets/Jerrycan_00/ucuwaddfa_8K_NormalLOD0.uasset filter=lfs diff=lfs merge=lfs -text
Content/MS_MilitaryEquipment/3D_Assets/Jerrycan_00/ucuwaddfa_8K_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
